.search-component {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.search-component input {
  border: 1px solid #00239b;
  width: 500px;
}
.search-box-button {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search-box-button button {
  background-color: #00239b;
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 40px;
}

.search-box-button button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
